[submodule "themes/even"]
	path = themes/even
	url = https://github.com/olOwOlo/hugo-theme-even.git
[submodule "themes/jane"]
	path = themes/jane
	url = https://github.com/jackbaty/hugo-theme-jane.git
