figure {
    margin: 1em 10px;
}

figcaption h4, .wp-caption-text {
    text-align:center;
    margin-top: 5px;
    color: #b5b5b5;
    font-size: .9rem;
}

.section-page-header a {
    color: #c05b4d;
}

body {
  border-top: 3px solid #c05b4d;
}

.post .post-content p {
  line-height: 1.5;
  /* font-family: 'Merriweather', serif; */
  color: #444;
}


.post .post-header .post-title {
    font-family: 'Oswald', sans-serif;
}

.post .micro-header {
    margin-bottom: 0px;
    text-align: right;
    padding-bottom:0px;
}
.post .micro-header a {
    color: #8a8a8a;
    font-size: 15px;
} 

.micropost {
    padding: 0.5em 2em 2em 2em;
    margin: 0 1em 3em;
}

#hcard-Jack-Baty {
  display:none;
}

.post-meta .u-url {
    display:none;
}

.footnotes {
    font-size: 0.8em;
    line-height: 1.5;
}

.footnotes li {
    margin-bottom: 15px;
}


.post .post-content a {
    word-break: normal;
}

.highlight {
    font-size: smaller;
    line-height: 1.2em;
}

.post-content ul {
    line-height: 1.2em;
    font-size: smaller;
}
.post-content ul li {
    padding: 3px 0px;
}

.post .post-footer {
    margin-top: 3em;
}

/* Comments/Webmentions */

ol.commentlist {
	margin-left: 0px;
	font-size: 90%;
}

ol.commentlist,
ol.commentlist ul.children {
	list-style: none;
}

ol.commentlist {
	margin-bottom: 100px;
}

ul.children {
	margin-left: 15px;
}

.commentlist .thread-even, .commentlist .thread-odd {
	padding-left: 20px;
	margin-bottom: 30px;
	margin-top: 3.5em;
	border-left: 1px solid #F0F0F0;
	border-top: 1px solid #F0F0F0;
}

.commentlist .children .odd,
.commentlist .children .even {
	border-left: none;
}

.commentlist ul.children {
	margin-left: 0;
	padding-left: 20px;
}

.commentlist .thread-even ul.children,
.commentlist .thread-odd ul.children {
	border-left: 1px solid #F0F0F0;
	border-top: 1px solid #F0F0F0;
}

ol.commentlist .avatar {
	float: left;
	margin-right: 15px;
	margin-left: 0px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	margin-top: 5px;
}

.avatar {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.comment-meta,
.comment-meta a {
	color: #b3b3b1;
	text-decoration: none;
	font-size: 12px;
}

.comment-meta {
	margin-top: -12px;
	margin-bottom: 15px;
	margin-left: 0px;
}

.comment .reply {
	display: block;
}

.comment .reply a {
	margin-top: -10px;
	font-size: 90%;
}

.comment-body:hover .reply {
}

.comment .reply a:hover {
}

.comment-body {
	margin-bottom: 40px;
	margin-left: 0px;
}

.comment-author {
	font-weight: bold;
	font-size: 16px;
	line-height: 48px;
}

.comment-author cite {
	font-style: normal;
}

.comment-author .fn a {
	text-decoration: none;
	color: inherit;
}

.comment-author .says,
.pingback .says,
.pingback .comment-meta,
.pingback .reply {
	display: none;
}
