figcaption h4, .wp-caption-text {
    text-align:center;
    margin-top: 5px;
    color: #b5b5b5;
    font-size: .9rem;
}

.section-page-header a {
    color: #c05b4d;
}

body {
  border-top: 3px solid #c05b4d;
}

.post .post-content p {
  line-height: 1.7;
  font-family: 'Merriweather', serif;
  color: #444;
}

.post .post-header .post-title {
    font-family: 'Oswald', sans-serif;
}

#hcard-Jack-Baty {
  display:none;
}

.post-meta .u-url {
    display:none;
}

.footnotes {
    font-size: 0.8em;
    line-height: 1.5;
}

.footnotes li {
    margin-bottom: 15px;
}
