<link href="https://fonts.googleapis.com/css?family=Merriweather|Oswald" rel="stylesheet">

<link rel="pingback" href="https://webmention.io/www.baty.net/xmlrpc" />
<link rel="webmention" href="https://webmention.io/www.baty.net/webmention" />
<link rel="me" href="https://twitter.com/jackbaty" />
<link href="https://micro.blog/jack" rel="me" />


<script type="text/javascript">
 var _paq = _paq || [];
  
 _paq.push(['trackPageView']);
 _paq.push(['enableLinkTracking']);
 (function() {
     var u="//piwik.baty.net/";
     _paq.push(['setTrackerUrl', u+'piwik.php']);
     _paq.push(['setSiteId', '1']);
     var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
     g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
 })();
</script>


